body{
   background-color: #08d1c7;


}

.myImage-Holder{
   background-color: black;
   border-radius: 25px;
}

.myImage{
   margin: 10px;
   background-image: url(https://res.cloudinary.com/diwwqfwjb/image/upload/v1724351819/nathskiesport/iw7bmzed7kj6qbfglvcm.jpg);
   background-size: cover;
   border-radius: 50px;
}

.myJob{ 
   background-color: black;
   border-radius: 25px;
   text-align: center;
}

.my-Name{
   background-color: black;
   border-radius: 25px;
   text-align: right;
}

.my-Name img{
   float: left;
}

.linkme{
   border-radius: 25px;
   background-image: url(https://res.cloudinary.com/diwwqfwjb/image/upload/v1724351916/nathskiesport/fb2nwtipoe5tezzvcvp6.gif);
}


.linkme button{
   background-color: #0b6477;
   color: white;
   border-radius: 50px;
}

.linkme button.clicked {
   color: lightgreen;
}


.content{
   background-color: #45DFB1;
   border-radius: 25px;
}

.know_you{
   background-color: #0b6477;
   border-radius: 50px;
   text-align: center;

}





@media (min-width: 0px) {
   
   
   .myImage-Holder{
      position: fixed;
      top: 20px;
      left: 20px;
      width: 100px;
      height: 100px;
   }

   .myImage{
      width: 80px;
      height: 80px;
   }
   .myJob{
      position: fixed;
      top: 20px;
      left: 130px;
      height: 100px;
      width: 180px;
   }
   #job{
      color: white;
      font-size: 28px;
   }

   .my-Name{
      position: fixed;
      top: 130px;
      left: 20px;
      height: 40px;
      width: 290px;
   }
   
   #myName{
      color: white;
      font-size: 18px;
      padding-right: 30px;
   }

   #img{
      margin: 5px;
      width: 30px;
      height: 30px;
      padding-left: 30px;
   }

   .linkme{
      position: fixed;
      top: 180px;
      left: 20px;
      width: 290px;
      height: 130px;
   }

   #copy_paste_literacy{
      position: fixed;
      font-size: 14px;
      top: 190px;
      left: 80px;
      width: 170px;
      height: 30px;
   }

   #skill_set{
      position: fixed;
      font-size: 14px;
      top: 228px;
      left: 80px;
      width: 170px;
      height: 30px;
   }

   #social_links{
      position: fixed;
      font-size: 14px;
      top: 265px;
      left: 80px;
      width: 170px;
      height: 30px;
   }
  
   .know_you {
      display: none
   }
   .content{
      position: fixed;
      top: 320px;
      left: 20px;
      width: 290px;
      height: 130px;
   }

   
   .slashing{
      background-color: #121212;
      margin: 20px;
      width: 250px;
      height:90px;
      border-radius: 20px;
   }
   
   .slashing h1, .hidden h1 {
      text-align: center;
      width: 240px;
      color: white;
      margin: 15px 0;
      font-size: 15px;
   }
   
   .hidden {
      display: none;
   }

   
}
@media screen and (min-width:326px){
 
   .myImage-Holder{
      position: fixed;
      top: 20px;
      left: 20px;
      width: 100px;
      height: 100px;
   }

   .myImage{
      width: 80px;
      height: 80px;
   }
   .myJob{
      position: fixed;
      top: 20px;
      left: 130px;
      height: 100px;
      width: 230px;
   }

   #job{
      color: white;
      font-size: 28px;
   }

   .my-Name{
      position: fixed;
      width: 340px;
   }

   #myName{
      color: white; 
      font-size: 18\px;
      padding-right: 80px;
   }

   #img{
      margin: 5px;
      width: 30px;
      height: 30px;
      padding-left: 30px;
   }

   .linkme{
      position: fixed;
      top: 180px;
      left: 20px;
      width: 340px;
      height: 130px;
   }

   #copy_paste_literacy{
      position: fixed;
      font-size: 14px;
      top: 190px;
      left: 110px;
      width: 170px;
      height: 30px;
   }

   #skill_set{
      position: fixed;
      font-size: 14px;
      top: 228px;
      left: 110px;
      width: 170px;
      height: 30px;
   }

   #social_links{
      position: fixed;
      font-size: 14px;
      top: 265px;
      left: 110px;
      width: 170px;
      height: 30px;
   }
  
   .know_you {
      display: none
   }
   .content{
      position: fixed;
      top: 320px;
      left: 20px;  
      width: 340px;
      height: 130px;
   }

   .slashing{
      background-color: #121212;
      margin: 20px;
      width: 300px;
      height:90px;
      border-radius: 20px;
   }
   
   .slashing h1, .hidden h1 {
      text-align: center;
      width: 300px;
      color: white;
      margin: 15px 0;
      font-size: 15px;
   }
   
   .hidden {
      display: none;
   }
   
   
}

@media (min-width:376px){
   .myImage-Holder{
      position: fixed;
      top: 20px;
      left: 20px;
      width: 120px;
      height: 120px;
   }
   .myImage{
      width: 100px;
      height: 100px;
   }
   .myJob{
      position: fixed;
      top: 20px;
      left: 150px;
      height: 120px;
      width: 260px;
   }

   #job{
      color: white;
      font-size: 33px;  
   }

   .my-Name{
      position: fixed;
      top: 150px;
      left: 20px;
      height: 50px;
      width: 390px;
   }
   
   #myName{
      color: white;
      font-size: 20px;
      padding-right: 90px;
   }

   #img{
      margin: 10px;
      width: 30px;
      height: 30px;
      padding-left: 50px;
   }

   .linkme{
      position: fixed;
      top: 210px;
      left: 20px;
      width: 390px;
      height: 130px;
   }
   
   #copy_paste_literacy{
      position: fixed;
      font-size: 14px;
      top: 225px;
      left: 130px;
      width: 190px;
      height: 30px;
   }

   #skill_set{
      position: fixed;
      font-size: 14px;
      top: 260px;
      left: 130px;
      width: 190px;
      height: 30px;
   }

   #social_links{
      position: fixed;
      font-size: 14px;
      top: 295px;
      left: 130px;
      width: 190px;
      height: 30px;
   }
   .know_you{
      display: none;
   }
   .content{
      position: fixed;
      top: 350px;
      left: 20px;
      width: 390px;
      height: 130px;
   }

   .slashing{
      background-color: #121212;
      margin: 20px;
      width: 350px;
      height:90px;
      border-radius: 20px;
   }
   
   .slashing h1, .hidden h1 {
      text-align: center;
      width: 360px;
      color: white;
      margin: 15px 0;
      font-size: 15px;
   }
   
   .hidden {
      display: none;
   }

}

@media (min-width:426px){
   .myImage-Holder{
      position: fixed;
      top: 40px;
      left: 20px;
      width: 235px;
      height: 235px;
   }
   .myImage{
      border-radius: 110px;
      width: 220px;
      height: 220px;
   }
   .myJob{
      position: fixed;
      top: 115px;
      left: 270px;
      height: 160px;
      width: 360px;
   }

   #job{
      color: white;
      font-size: 50px; 
   }

   .my-Name{
      position: fixed;
      top: 40px;
      left: 270px;
      height: 70px;
      width: 300px;
   }
   
   #myName{
      margin: 25px;
      color: white;
      font-size:18px;
      padding-right: 20px;
   }

   #img{
      margin: 20px;
      width: 30px;
      height: 30px;
      padding-left: 1px;
   }

   .linkme{
      position: fixed;
      top: 290px;
      left: 20px;
      width: 235px;
      height: 235px;
   }
   
   #copy_paste_literacy{
      position: fixed;
      font-size: 14px;
      top: 330px;
      left: 30px;
      width: 210px;
      height: 35px;
   }

   #skill_set{
      position: fixed;
      font-size: 14px;
      top: 390px;
      left: 30px;
      width: 210px;
      height: 35px;
   }

   #social_links{
      position: fixed;
      font-size: 14px;
      top: 440px;
      left: 30px;
      width: 210px;
      height: 35px;
   }

   .know_you{
      color: white;
      border-radius: 20px;
      width: 180px;
      text-align: center;
      padding-top: 15px;
      height: 40px;
      position: fixed;
      font-size: 20;
      top: 35px;
      left: 580px;
   }

   .content{
      position: fixed;
      top: 290px;
      left: 270px;
      width: 350px;
      height: 235px;
   }
   .slashing{
      background-color: #121212;
      margin: 20px;
      width: 300px;
      height:190px;
      border-radius: 20px;
   }
   
   .slashing h1, .hidden h1 {
      text-align: center;
      width: 290px;
      color: white;
      margin: 20px 0;
      font-size: 25px;
   }
   
   .hidden {
      display: none;
   }

}

@media (min-width: 769px) {
   .myImage-Holder{
      position: fixed;
      top: 20px;
      left: 20px;
      width: 300px;
      height: 300px;
   }
   .myImage{
      border-radius: 190px;
      width: 280px;
      height: 280px;
   }
   .myJob{
      position: fixed;
      top: 90px;
      left: 340px;
      height: 230px;
      width: 750px;
   }

   #job{
      margin: 5px;
      color: white;
      font-size: 85px; 
   }

   .my-Name{
      position: fixed;
      border-radius: 50px;
      top: 20px;
      left: 340px;
      height: 60px;
      width: 600px;
   }
   
   #myName{
      margin: 15px;
      color: white;
      font-size:30px;
      padding-right: 150px; 
   }

   #img{
      margin: 10px;
      width: 40px;
      height: 40px;
      padding-left: 10px;
   }

   .linkme{
      position: fixed;
      top: 330px;
      left: 20px;
      width: 300px;
      height: 300px;
   }
   
   #copy_paste_literacy{
      position: fixed;
      font-size: 17px;
      top: 380px;
      left: 35px;
      width: 270px;
      height: 55px;
   }

   #skill_set{
      position: fixed;
      font-size: 17px;
      top:450px;
      left: 35px;
      width: 270px;
      height: 55px;
   }

   #social_links{
      position: fixed;
      font-size: 17px;
      top: 520px;
      left: 35px;
      width: 270px;
      height: 55px;
   }
   .know_you{
      display: flex;
      position: fixed;   
      font-size: 30px;
      top: 0px;
      left: 950px;
      width: 300px;
      padding-left: 70px;
      height: 45px;
      border-radius: 50px;
   }

   .content{
      position: fixed;
      top: 330px;
      left: 340px;
      width: 750px;
      height: 300px;
   }

   .slashing{
      background-color: #121212;
      margin: 50px;
      width: 650px;
      height:200px;
      border-radius: 50px;
   }
   
   .slashing h1, .hidden h1 {
      text-align: center;
      width: 650px;
      color: white;
      margin: 15px 0;
      font-size: 45px;
   }
   
   .hidden {
      display: none;
   }

   


}