*{
    padding: 0;
    margin: 10px;
}
body{
    background-color: #0D0D0D;
    font-family: Arial, Helvetica, sans-serif;
    height : 90vh;
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: flex;


}
.container{
    width: 1300px;
    height: 600px;
    background-color: #0D0D0D; 
    flex-wrap: wrap;
    display: inline-flex;
    
}

.content{
    background-color: #1E1E1E;
    border-radius: 50px;
}

.Item-1{
    width: 300px;
    background-color: #1E1E1E;
    height: 300px;
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: inline-flex;
}
.Item-1 img{
    border-radius: 150px;
    height: 250px;
    width: 250px;
}

.Item-2{
    width: 680px;
    height: 300px;
    background-color: #0D0D0D;
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display:inline-flex;
}


.saphire{
    text-align: center;
    color: #ffffff;
    display: block;

}

.Aiming{
    width: 680px;
    border-radius: 25px;
    background-color: #1E1E1E;
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: flex;

}

.Top-1{
    height: 180px;
    margin: 20px;
    font-size: 70px;
}
.Top-2{
    height: 100px;
    margin: 20px;
    font-size: 45px;
}

.Item-3{
    
    /* position: absolute; */
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: flex;
    width: 240px;
    height: 300px;
    background-color: #0D0D0D;
}



.switching{
    height: 80px;

    width: 80px;
    border-radius: 20px;
}


.content_button{
    
    display: block;
    width: 100px;
    height: 300px;
}


.Power-1{
    background-image: url(https://res.cloudinary.com/diwwqfwjb/image/upload/v1724351829/nathskiesport/qbb7jewxxnt8weoqrqo6.jpg);
    background-size: cover;
}

.Power-2{
    background-image: url(https://res.cloudinary.com/diwwqfwjb/image/upload/c_crop,h_860,w_860/nathskiesport/jp1pmij0a0pgroih1f9e.jpg  );
    background-size: cover;

}

.Power-3{
    background-image: url(https://res.cloudinary.com/diwwqfwjb/image/upload/c_crop,h_750,w_750/nathskiesport/iza8ti8tfyey03qzoqp4.jpg);
    background-size: cover;
} 

.Item-4{
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: flex;
    width: 300px;
    height: 265px;
    background-image: url(https://res.cloudinary.com/diwwqfwjb/image/upload/v1724351916/nathskiesport/fb2nwtipoe5tezzvcvp6.gif);
}

.content_button-2{
    display: block;
    width: 250px;
    height: 210px;
}
.clicking{
    border-radius: 25px;
    width: 240px;
    height: 50px;
    background-color: #1E1E1E;
    color: #ffffff;
    font-size: medium;
}


.contents{
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: flex;
    width: 680px;
    height: 265px;
    background-color: #1E1E1E;

} 

.Javascript {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #141723;
    color: white;
    width: 480px;
    height: 200px;
    border-radius: 25px;
}


.Javascript h1{
    text-align: center;
}

.C{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #141723;
    color: white;
    width: 480px;
    height: 200px;
    border-radius: 25px;
}

.C h1{
    text-align: center;
}
.Python{
    background-color: #141723;
    color: #ffffff;
    width: 480px;
    height: 200px;
    border-radius: 25px;
}
.Python h1{
    text-align: center;
    margin: 30px;
    
}

.Python button{
    font-size: 18px;
    width: 130px;
    height: 50px;
    border-radius: 25px;
}


.CopyPasteLiteracy{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #ffffff;
    background-color: #141723;
    width: 480px;
    height: 200px;
    border-radius: 25px;
}

.skillset{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #ffffff;
    background-color: #141723;
    border-radius: 25PX;
    text-align: center;
    width: 480px;
    height: 200px;
}


.Social a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    margin: 10px 0; 
}

.Social img {
    margin-right: 10px;
    width: 50px; 
    height: 50px; 
}

.Social h1 {
    font-size: 40px; 
    padding-left: 20px; 
    color: #ffffff; 
}

.hidden {
    display: none;
 }
.Item-6{
    justify-items: center;
    align-items: center;
    justify-content: center; 
    display: flex;

    width: 240px;
    height: 265px;
    background-color: #1E1E1E;
}


.typemode{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    text-decoration: solid;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
} 


@media (max-width:425px) {
    body{
        width: 425px;
        height: 680px;
        justify-items: center;
        align-items: center;
        justify-content: center; 
        display: flex;
    }

    .container{
        width: 425px;
        height: 680px;
    }


    .Item-1{
        width: 150px;
        height: 150px;
    }

    .Item-1 img{
        width: 120px;
        height: 120px;
    }

    .Item-2{
        width: 30px;
        height: 150px;
    }

    .saphire{
        width: 50px;
        height: 200px;
    }

    .Top-1{
        width: 230px;
        height:70px;
        font-size: 28px;

    }
    .Top-2{
        height: 70px;
        width: 230px;
        font-size: 28px;
    }

    .Item-3{
        width: 420px;
        height: 60px;
        border-radius: 10px;
    }

    .switching{
        width: 40px;
        height: 40px;
    }

    .content_button{
        padding-left: 60px;
        height: 60px;
        width: 250px;
    }

    .Item-4{
        width: 450px;
        height: 200px;
    }
    .contents{
        width: 450px;
        height: 200px;
    }
    .Python{
        width: 330px;
        height: 150px;
 
    } 

    .Python h1{
        font-size: 20px;
        margin: 15px;
    }

    .Python button{
        font-size: 16px;
        width:85px;
        border-radius: 25px;
    
    }

    .Javascript{
        width: 330px;
        height: 150px;
        font-size: 16px;


    }

    .C{
        width: 330px;
        height: 150px;
        font-size: 16px;

    }

    .CopyPasteLiteracy{
        height: 150px;
        width: 330px;
        font-size: 12px;

    }

    .skillset{
        height: 150px;
        width: 330px;
        font-size: 12px;

    }

    .Social img{
        width: 30px;
        height: 30px;
    }

    .Social h1{
        font-size: 26px;
    }
    .Item-6{
        width: 450px;
        height: 50px;
    }

    .typemode{
        text-transform: uppercase;
        writing-mode: horizontal-tb;
    }

    .hidden{
        display: none;
    }


    
}
